# name: ci

# on:
#   schedule: # 03:00 JST == 18:00 UTC
#     - cron: "0 18 * * *"
#   workflow_dispatch:

# jobs:
#   autogreen:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Clone repository
#         uses: actions/checkout@v2

#       - name: Auto green
#         run: |
#           git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
#           npm i
#           npm run fake
